/* Farrago Web Styles
 * Copyright Jack Kaloger 2017
 * Original Design by Jenny Huynh
 */

/* get rid of stupid css defaults */
*
{
	margin:0;padding:0;
}


/* Fonts */
@font-face {
    font-family: "font of all knowledge";
    src: url(Fonts/ArcherPro-Medeium.otf);
}
body
{
	font-family: "Archer Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url("../img/bg.jpg") fixed top / cover black;
}

h1,h2,h3,h4,h5 {
	font-family: "Cabin";
	letter-spacing: 1px;
}

.container
{
	background: white;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}

/* Header */
.hdrOuter
{
	padding-top: 15px;
}
	.hdrTop
	{
		text-align: center;
	}
		.social
		{}
		@media (max-width: 800px) {
			.social
			{
				display: none;
			}
		}
		.title
		{
			text-transform: uppercase;
		} 
			.title h1
			{
				font-weight: 800;
			}

		.fodder
		{}
	.hdrNav
	{
		/* height larger for a bit of runoff */
		height: 65px;
		line-height: 45px;
		/* DEBUG
		 * background: yellow;
		 */
	}
		.navList
		{
			/* since inline-block on li elements will include whitespace
			 * from \n in source, we set this font-size to 0
			 * then back to 16px further down
			 */
			font-size: 0;
		}
			.navList a
			{
				color: inherit;
				transition: color .3333s ease;
				text-decoration: none;
			}
			.navList li
			{
				list-style: none;
				display: inline-block;
				/* set back to 16px from 0 */
				font-size: 16px;
			}
			/* conditional for navitem
			 * it will eventually get too wide for mobile
			 */
			@media (min-width: 800px) {
				.navItem
				{
					transition: background-color .3333s ease;
					text-align: center;
					font-size: 1.2em;
					width: 20%;
				}
			}
				.navItem:hover
				{
					background-color: pink;
					color: white;
					cursor: pointer;
				}
				.navLabel
				{
					text-transform: uppercase;
				}
				.dropdown
				{
					display: none;
				}
					.dropdownContent
					{}

/* Hero  / Gallery */
.hero
{}
	.sliderGallery
	{
		width: 100%;
		height: 360px;
		background: gray;
	}
		.sliderElement img
		{
			width: 100%;
			height: 100%;
			display: cover;
		}

/* SECTIONS */
.section
{
	margin-top: 60px;
}
	.sectionTitle
	{
		margin-bottom: 3em;
	}
	.sectionTitle h2
	{
		text-transform: uppercase;
		text-align: center;
	}
	/* we want a line across the page */
	.sectionTitle h2:after
	{
		content:'';
		display: block;
		border-bottom: 2px solid black;
		/* lift line up to center */
		margin-top: -.66em;;
	}
	.sectionTitle span
	{
		background: white;
		border: 1px solid black;
		/* padding will push lines further away */
		padding: 10px;
	}

	/* SECTION ARTICLES */
	
	.section .article
	{}
		.section.article img
		{
			width: 100%;
			height: 240px;
		}

	/* VIDEO */
	.video
	{
		height: 240px;
		background: gray;
		position: relative;
	}

	.video:after
	{
	}
		.videoTime
		{
			width:100%;height:100%;
			transition: opacity .3333s ease;
			opacity: 0;
			position: absolute;
			top:0;left:0;
			color: white;
			font-size: 1.2em;
			font-weight: 300em;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
		}
			.videoTime p
			{
				position: absolute;
				bottom: 0px;
				right: 15px;
			}
		.video:hover .videoTime
		{
			opacity: 1;
			cursor: pointer;
		}
		.videoPlay
		{}

.footer
{
	margin-top: 0;
	background: black;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
}
	.newsletter
	{
		text-align: center;
	}
	.footerSocial
	{

	}
	.links
	{}

/* DEBUG */
.gray
{
	background: gray;
}

.empty
{
	width: 100%;
	height: 100%;
}


.tag
{
	display: inline-block;
	background-color: #DDD;
	padding: 5px 10px 5px 10px;

}
	.tag:hover {
		cursor: pointer;
	}















