/* Farrago Web Styles
 * Copyright Jack Kaloger 2017
 * Original Design by Jenny Huynh
 */

/* get rid of stupid css defaults */
*
{
	margin:0;padding:0;
}


/* Fonts */
@font-face {
    font-family: "font of all knowledge";
    src: url(Fonts/ArcherPro-Medeium.otf);
}
body
{
	font-family: "Archer Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: black;
}

h1,h2,h3,h4,h5 {
	font-family: "Cabin";
}

.container
{
	background: white;
}

/* Header */
.hdrOuter *
{
	
}
	.hdrTop
	{
		text-align: center;
	}
		.social
		{}
		.title
		{
			text-transform: uppercase;
		} 
			.title h1
			{
				font-weight: 800;
			}

		.fodder
		{}
	.hdrNav
	{
		/* height larger for a bit of runoff */
		height: 65px;
		line-height: 45px;
		/* DEBUG
		 * background: yellow;
		 */
	}
		.navList
		{
			/* since inline-block on li elements will include whitespace
			 * from \n in source, we set this font-size to 0
			 * then back to 16px further down
			 */
			font-size: 0;
		}
			.navList a
			{
				color: inherit;
				transition: color .3333s ease;
				text-decoration: none;
			}
			.navList li
			{
				list-style: none;
				display: inline-block;
				/* set back to 16px from 0 */
				font-size: 16px;
			}
			/* conditional for navitem
			 * it will eventually get too wide for mobile
			 */
			@media (min-width: 800px) {
				.navItem
				{
					transition: background-color .3333s ease;
					text-align: center;
					font-size: 1.2em;
					width: 20%;
				}
			}
				.navItem:hover
				{
					background-color: pink;
					color: white;
					cursor: pointer;
				}
				.navLabel
				{
					text-transform: uppercase;
				}
				.dropdown
				{
					display: none;
				}
					.dropdownContent
					{}

/* Hero  / Gallery */
.hero
{}